<!-- views/pages/index.ejs -->

<% include ../partials/open %>
<% include ../partials/header %>
<% include ../partials/bootstrap %>

<% include ../scripts/index %>

<% include ../css/formBox %>
<body>

<% include ../partials/navbar %>

<div class="container-fluid bg-3 text-center">

  <h1>Welcome!</h1>
  <p>We're glad you're here!</p>
  <br>
  <br>
  <h2>Already have an account?</h2>
  <button type="button" id="loginButton" class="btn btn-primary">Login Now!</button>
  <br>
  <br>
  <h2>Have an invite code?</h2>
  <button type="button" id="signupButton" class="btn btn-primary">Signup Now!</button>


</div>

<% include ../partials/footer %>

</body>

<% include ../partials/close %>
